#character-button {
  border: 2px solid #1411223d;
  border-radius: 35px;
  width: 14vw;
  height: 14vw;
}

#character-button img {
  border-radius: 35px;
  width: inherit;
  height: inherit;
}

#character-button img:active {
  border: 2px solid #f15353;
}

#character-icon {
  border: 2px solid #1411223d;
  border-radius: 45px;
  width: 20vw;
  height: 20vw;
}

#character-icon img {
  border-radius: 45px;
  width: inherit;
  height: inherit;
}