.match-container {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-content: center;
  padding: 4vw 2vw;
  border: 2px solid #1411223d;
}

.decoration-image img {
  width: 100%;
  height: auto;
}

.image {
  padding-top: 2vw;
  width: 30vw;
  align-self: flex-start;
  justify-content: center;
}

.game-components {
  margin-top: 2vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

.player-components {
  display: flex;
  flex-direction: column;
  align-items: center;
}