body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', 
  monospace;
}

.main-container {
  background-color: #383064;
  padding: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2, h3 {
  font-family: 'Ubuntu', sans-serif;
  margin-block-start: 0.0em;
  margin-block-end: 0.0em;
}