.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #1c144d;
  padding: 1.4vh 4vw 1.4vh 4vw;
}

.navbar h3 {
  color: #f1f3f3;
  display: block;
  font-weight: 800;
  font-size: 5.5vw;
}

.navbar button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5b847;
  border-radius: 6px;
  border: 2px solid #f5b8479c;
  width: 8.5vw;
  height: 8.5vw;
}

.navbar button:active {
  background-color: #df9d25;
  border: 2px solid #df9d259c;
}

.navbar button img {
  width: 4.5vw;
  height: 4.5vw;
}